<div>
  <%= f.label :name, :class => "sublogo" %>
</div>
<div class="field">
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :comment, :class => "sublogo" %>
</div>
<div class="field">
  <%= f.text_area :content, :class => "comment_area" %>
</div>
<div class="actions">
  <%= f.submit "Submit" %>
</div>