<span class="post_title"><%= link_to(raw(diff_last_word_class(post.title, "black", "firebrick")), post_path(post.id), :class => "no_underline") %></span>
<br /><br />
<%= raw(simple_format(post.content, :class => 'post_content')) %>
<span class="post_footer right">Posted <%= time_ago_in_words(post.created_at) %> ago</span>
<span class="post_footer"><ul><li>Tags: </li><%= render post.tags %></ul></span><br />
<div class="social-stuff">
<a href="http://twitter.com/share" class="twitter-share-button right" data-count="horizontal" data-via="NathanielBarnes" data-text="<%= post.title %>" data-url="http://www.nathanielbarnes.com/posts/<%= post.id %>">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=133783756701990&amp;xfbml=1"></script><fb:like href="http://www.nathanielbarnes.com/posts/<%= post.id %>" send="true" width="450" show_faces="true" font=""></fb:like>
</div>
<span class="post_footer"><%= link_to "Comments (#{ post.comments.count })", "javascript:show_comments('comments_#{post.id}')", :class => "no_underline" %></span>
<%= link_to( "Delete", "/posts/#{post.id}", :class => "no_underline right", :method => :delete, :confirm => "Are you sure?" ) if user_signed_in? %><br />
<div class="comments round_corners" id="comments_<%= post.id %>">
  <% unless post.comments.nil? %>
    <% post.comments.each do |c| %>
      <span class="sublogo"><%= c.name %></span><span class="post_footer right"><%= time_ago_in_words(c.created_at) %></span>&nbsp;<%= link_to( "Delete", "/posts/#{post.id}/comments/#{c.id}", :class => "post_footer no_underline right", :method => :delete, :confirm => "Are you sure?" ) if user_signed_in? %><br />
      <div class="post_content"><%= simple_format( c.content ) %></div>
    <% end %>
  <% end %>
  <%= form_for [post, post.comments.new] do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <%= render 'posts/comment_fields', :f => f, :object => f.object %>
  <% end %>
</div>
<br />