<div class="sidebar">
  <span class="title">About Me:</span><%= gravatar_image_tag "kerianambrai@gmail.com", :class => "inline_image" %><br />
  I've been a developer working in the United States Intelligence Community nearly a decade. I was a slave to Java development and Oracle DBA work until I finally was freed to do joyous Ruby/Rails development. In addition to working on some OSS, I spend my free time gaming, debunking random crap, and spending time with my wife.<br /><br />
  <span class="title">Social Networks</span>
  <ul>
    <li><%= link_to "GitHub", "http://github.com/NateBarnes", :class => "no_underline" %></li>
    <li><%= link_to "Twitter", "http://twitter.com/NathanielBarnes", :class => "no_underline" %></li>
    <li><%= link_to "Facebook", "http://www.facebook.com/nathaniel.r.barnes", :class => "no_underline" %></li>
  </ul>
  <br /><br />
  <span class="title">Tags</span>
  <ul><%= render all_tags %></ul>
  <br /><br />
  <span class="title">Archive</span>
  <ul>
    <% archives.each do |month, posts| %>
      <li><%= link_to(month.strftime('%B')+" (#{posts.size})", "/posts/#{month.year}/#{month.month}", :class => "no_underline") %></li>
    <% end %>
  </ul>
  <br /><br />
  <center>
    <%= link_to(image_tag("rss_feed_green.png", :alt => "RSS Feed"), posts_path(:rss), { :class => "no_underline"}) %>
  </center>
</div>