<!DOCTYPE html>
<html>
<head>
  <title>NathanielBarnes.com - <%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container_16">
  <div class="grid_9">
    <%= link_to "Nathaniel Barnes", root_path, :class => "logo"%>
  </div>
  <div class="grid_7">
    <%= render 'layouts/navbar' %>
  </div>
  <div class="clear"></div>
  <div class="grid_2 hspacer"></div>
  <div class="grid_14">
    <span class="sublogo">Skeptic, Developer, <span class="firebrick">Asshole</span></span>
  </div>
  <div class="clear"></div>
  <div class="grid_16 spacer"></div>
  <div class="clear"></div>
  <div class="grid_16 mainpanel round_corners">
    <div class="grid_10 alpha">
      <div class="post_block">
        <%= yield %>
      </div>
    </div>
    <div class="grid_6 omega">
      <%= render 'layouts/sidebar' %>
    </div>
  </div>
  <div class="clear"></div>
  <div class="grid_2 hspacer"></div>
  <div class="grid_14">
    <%= render 'layouts/footer' %>
  </div>
  <div class="clear"></div>
</div>

</body>
</html>
